# Logs
logs
*.log

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variables file
.env
.env.test

# My Entries
00 diagrams/
.vscode/
.cache/
dist/
config.js
